@model IEnumerable<MovieViewModel>
@{
    ViewData["Title"] = "Currently Available Movies";
}

<h1>@ViewData["Title"]</h1>

@foreach(var item in Model)
{
    <p>@item.MovieName - @item.MovieDescription - @item.GenreName</p>
}